<div>
    &nbsp;
    <div class="col col-12">
        <input type="file" id="file1" name="file" multiple ng-files="getTheFilesForFirstFile($files)"/>
        <input class="btn btn-info" type="button" ng-click="uploadFiles()" value="Upload first image"/>
    </div>
    &nbsp;
    <div class="col col-12">
        <input type="file" id="file2" name="file" multiple ng-files="getTheFilesForSecondFile($files)"/>
        <input class="btn btn-info" type="button" ng-click="uploadSecondFiles()" value="Upload second image"/>
    </div>
    &nbsp;
    <div class="col col-12" ng-hide="first_name_file == null">
        <div class="col-xs-4">
            <p class="bg-success">First file - {{first_name_file}}</p>
        </div>
    </div>
    <div class="col col-12" ng-hide="second_name_file == null">
        <div class="col-xs-4">
            <p class="bg-success">Second file - {{second_name_file}}</p>
        </div>
    </div>

    <div class="col col-12" ng-hide="first_name_file == null || second_name_file == null">
        <button class="btn btn-outline-primary col-12"
                ng-click="getResultImage(first_name_file, second_name_file)">
            Compare 2 image
        </button>
    </div>
    &nbsp;
    <div class="col col-12">
        <img data-ng-src="data:image/JPEG;base64,{{image_load}}">
    </div>

    <div class="col col-12" ng-show="image_identify">
        <p>Images are identify</p>
    </div>
</div>

